<assembly>
    <includeBaseDirectory>false</includeBaseDirectory>
    <formats>
        <format>zip</format>
        <format>tar</format>
    </formats>
    <fileSets>
        <fileSet>
            <directory>${project.build.directory}</directory>
            <outputDirectory>/binaries</outputDirectory>
            <includes>
                <include>${project.name}.jar</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>src/main/</directory>
            <outputDirectory>/resources</outputDirectory>
        </fileSet>
    </fileSets>
</assembly>